@page "/"
@using DziennikOcen.Client.Models

<table>
    <tr>
        <th>ID</th>
        <th>Nazwa użytkownika</th>
        <th>PIN</th>
        <th>Rola</th>
        <th>Data utworzenia</th>
        <th>Ostatnia aktualizacja</th>
    </tr>
</table>


@code
{
    List<User> users = new List<User>();

    protected override void OnInitialized()
    {
        users = GetUser();
    }

    public List<User> GetUser()
    {
        var fakeUsers = new List<User>()
        {
            new User()
            {
                Update_at = DateTime.MinValue,
                Create_at = DateTime.Now,
                Password = "saddsad",
                Pin = 123,
                RoleID = 1,
                UserID = 1,
                Username = "jacek"
            },
            new User()
            {
                Update_at = DateTime.MinValue,
                Create_at = DateTime.Now,
                Password = "saddsad",
                Pin = 123,
                RoleID = 1,
                UserID = 2,
                Username = "patryk"
            },
        };

        return fakeUsers;
    }
}
